.quiz_result_wait_top {
	width: 90%;
	padding: 7% 5%;
	font-size: 1.2em;
	text-align: center;
	font-weight: 300;
}

.quiz_result_wait_answered {
	padding-bottom: 0.3em;
}

#quiz_result_wait_gif {
	margin: 12px 0;
	max-width: 90%;
	max-width: 90vw;
	max-height: 25%;
	max-height: 25vh;
	border: 1px solid rgba(255, 255, 255, 0.2);
}

.quiz_result_wait_followus {
	bottom: 3%;
	margin: auto;
	position: fixed;
	width: 100%;
	text-align: center;
}

.quiz_result_wait_picture {
	margin: 4px 0;
	width: 80vw;
	width: 80vmin;
	height: 80vw;
	height: 80vmin;
	max-width: 40vh;
	max-height: 40vh;
	border: 1px solid rgba(255, 255, 255, 0.2);
}
